body {
    background: url('/img/clima.jpg') center/cover no-repeat;
    font-family: Arial;
    color:rgb(24, 8, 244);
}
.container {
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    box-shadow:0px 0px 20px cyan;
}
table {
    width:100%;
    border-collapse: collapse;
}
th,td {
    padding:10px;
    border-bottom:1px solid cyan;
}
a, button {
    background:cyan;
    padding:8px 12px;
    border-radius:8px;
    text-decoration:none;
    color:black;
}

